hr {
    margin: 2.0rem 0;
}

blockquote, dl, figure, form, ol, p, pre, table, ul{
    margin-bottom: 2rem;
}
body {
    background: #f6f6f6;
}
.main-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 0;
    background: #fff;
}
